* {
    box-sizing: border-box;
}

.App {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.App .column {
    width: 30%;
}

.droppable-col {
    width: 100%;
    background-color: gray;
    padding: 10px 10px 0 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

.item {
    margin-bottom: 10px;
    background-color: gray;
    color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 7px;
}

.item.dragging {
    background-color: coral;
}